/**************************************************************/
/*                    ****** FONTS ******                     */
/**************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/**************************************************************/
/*                  ****** VARIABLES ******                   */
/**************************************************************/

:root {
    --font-dark-color: hsl(234, 12%, 34%);
    --font-light-color: hsl(229, 6%, 66%);
   
    --supervisor-color: hsl(180, 62%, 55%);
    --teamBuilder-color: hsl(0, 78%, 62%);
    --karma-color: hsl(34, 97%, 64%);
    --calculator-color: hsl(212, 86%, 64%);

    --shadow-color: hsl(213, 37%, 89%);
}


/**************************************************************/
/*                    ****** RESET ******                     */
/**************************************************************/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

/**************************************************************/
/*                    ****** LAYOUT ******                    */
/**************************************************************/

body {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-rows: 25% 1fr;
}

header {
    /* background-color: lightcoral; */
    text-align: center;
}

main {
    /* background-color: lightgreen; */
    padding: 0 9%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4.62%;
    column-gap: 2%;
    justify-items: center;
}

.box {
    /* background-color: lightblue; */
    width: 98%;
    aspect-ratio: 7 / 5;
    position: relative;
}

.left-box-supervisor {
    grid-row: 1 / span 2;
    align-self: center;
}

.middle-top-box-teamBuilder {
    grid-column: 2 / 3;
    align-self: end;
}

.middle-bottom-box-karma {
    grid-column: 2 / 3;
}

.right-box-calculator {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
    align-self: center;
}


footer {
    position: absolute;
    bottom: 3px;
    width: 100%;
}

/**************************************************************/
/*                    ****** DESIGN ******                    */
/**************************************************************/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--font-light-color);
}

header h2 {
    margin-top: 1.5em;
    font-size: 2.4em;
    font-weight: 200;
    color: var(--font-dark-color);
}

header h1 {
    font-size: 2.4em;
    font-weight: 600;
    color: var(--font-dark-color);
}

header p {
    width: 36em;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-radius: 5px;
    box-shadow: 0 5px 5px var(--shadow-color);
    border-top: 4px solid black;
    box-sizing: border-box;
    padding: 9%;
}

.box img {
    position: absolute;
    right: 9%;
    bottom: 9%;
    box-sizing: border-box;
}

.box h3 {
    color: var(--font-dark-color);
}

.left-box-supervisor {
    border-color: var(--supervisor-color);
}

.middle-top-box-teamBuilder {
    border-color: var(--teamBuilder-color);
}

.middle-bottom-box-karma {
    border-color: var(--karma-color);
}

.right-box-calculator {
    border-color: var(--calculator-color);
}


/*           *** LAYOUT - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {

    body {
        grid-template-rows: 1fr;
    }

    header {
        height: auto;
    }

    header p {
        width: 80%;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0 8%;
    }

    .box {
        width: 100%;
        align-self: center;
    }

    footer {
        position: static;
    }
}

/*           *** DESIGN - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
    header h2 {
        font-size: 1.4em;
        margin-top: 3em;
    }

    header h1 {
        font-size: 1.3em;
    }

    header p {
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 3.5em;
    }

    .box {
        margin-bottom: 1em;
        padding: 5.3%;
    }

    .box p {
        font-weight: 200;
    }

    .box h3 {
        font-size: 1em;
    }

    .box p {
        font-size: 1em;
    }

    footer {
        margin-top: 3em;
    }
}